button {
	width: 200px;
	height: 50px;
	border:none;
	background: transparent;
	padding:0 24px;
	font-size:20px;
	line-height:52px;
	position:relative;
	color:#A62D00;
	cursor:pointer;
	letter-spacing: 0.5px;
	&:before {
	 	content:'';
	 	position:absolute;
	 	left:0;
	 	top:0;
	 	width:50%;
	 	height:48px;
	 	background: transparent;
	 	border:2px solid #A62D00;
	 	z-index: -1;
	 	border-radius:5px;
	 	transition:0.3s ease-in-out;
	}
	&:after {
	 	content:'';
	 	position:absolute;
	 	left:50%;
	 	top:50%;
	 	transform:translate(-50%,-50%);
	 	background: #fff;
	 	height:30px;
	 	width:80%;
	 	z-index: -1;
	 	transition:0.3s linear;
	}
	 &:hover:after {
	 	opacity:0;
	 	background: #A62D00;
	}
	&:hover {
	 	color:#fff;
	}
	&:hover:before {
	 	width:100%;
	 	background: #A62D00;
	 	box-shadow:0 10px 90px -2px rgba(#000,0.2);
	}
}