.promo{
	min-height: 500px;
	background: url('/src/img/t6.png') center (center/cover) no-repeat;
	opacity: 0.8;
	top: 50px;
	padding: 90px 75px;
	&__img{
		display: block;
		width: 400px;
		float: right;
		margin-right: 50px;
	}
	&__tittle{
		display: block;
		margin: 0 auto;
		font-size: 60px;
		font-weight: 800;
		color: #A62D00;
		text-align: center;
		padding-top: 200px;	
	}
	&__descr{
		float: center;
		//width: 600px;
		font-size: 24px;
		font-weight: 400;
		color: #A62D00;
		text-align: center;
		margin-bottom: 50px;
	}
.button{
	display: block;
	margin: 0 auto;

}






}