.skils {
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	max-width: 100%;
	min-height: 400px;
 	&__item {
		display: flex;
		width: 50%;
		height: 33.33%;
		position: relative;
		padding: 10px 25px;
		&::before {
			content: '';
			position: absolute;
			height: 2px;
			background-color: red;
			top: -1px;
  		}
		&::after {
			content: '';
			position: absolute;
			height: 2px;
			background-color: red;
			bottom: -1px;
		}
		&:nth-child(odd) {
			padding-right: 7%;
			text-align: right;
		}
		&::before{
			left: 25px;
			right: 14%;
		}
		&::after{
			left: 25px;
			right: 14%;
		}
		&:nth-child(even) {
			order: 1;
			top: 16.66%;
			padding-left: 0;
			text-align: left;
		}
		&::before{
			left: 23%;
			right: 55px;
		}
		&::after{
			left: 23%;
			right: 55px;
		}
 	}
	&__content {
		margin: 25px 0px;
		
	}
  	&__arrow {
		position: absolute;
		top: 0;
		height: 100%;
		z-index: -1;
  	}
  	&__arrow--right {
		right: 0;
		transform: translateX(26.08695652173913%);
  	}
  	&__arrow--left {
		left: 0;
		transform: translateX(320%);
		top: -250%;
	}
	&__list{
		position: relative;
		width: 70%;
		margin-left: 20px;
		transform: translateX(0%);
		//padding-right: 20px;
		transition: 0.5s all;
		padding-left: 19px;
		margin-bottom: 0;
		list-style-type: none;
		float: right;
		li {
			position: relative;
			color: #555555;
			font-size: 16px;
			font-weight: 300;
			margin-bottom: 20px;
			&:before {
				content: '';
				position: absolute;
				width: 8px;
				height: 8px;
				background-color: $main-color;
				left: -14px;
				top: 9px;
			}
		}

	}
}
h4{
	font-size: 20px;
	color: $second-color;
	text-align: center;
	margin-bottom: 10px;
}


